html, body, #terminal {
  height: 100%;
  width: 100%;
  margin: 0;
}

.terminal {
  font-family: Menlo, Monaco, Terminal, monospace;
  color: #DEDEDE;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 255;
}
